.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border-radius: 15px;
    color: white;
    background-color: purple;
    padding: 1.5rem 2.5rem;
}

.choice-container:hover {
    text-decoration: none;
    color: white;
    background-color: magenta;
}

.choice-text {
    width: 100%;
}