* {
    font-family: Arial;
}

h1 {
    text-align: center;
}

li {
    color: white;
    background-color: purple;
    padding: 5px 15px;
    width: 80%;
    font-size: 20px;
    border-radius: 15px;
}

li:hover {
    background-color: magenta;
}

#container {
    position: absolute;
    top: 20%;
    left: 30%;
    height: 500px;
    width: 500px;
}

#questionsContainer {
    margin: 20px;
}

#currentTime {
    float: right;
}

#startButton {
    color: white;
    background-color: purple;
    font-size: 20px;
    margin-left: 33%;
    padding: 15px 30px;
    border-radius: 15px;
}

#startButton:hover {
    background-color: magenta;
}

#backButton {
    position: relative;
    color: white;
    background-color: purple;
    font-size: 20px;
    padding: 10px;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
}

#backButton:hover {
    background-color: magenta;
}

#clearButton {
    color: white;
    background-color: purple;
    font-size: 20px;
    padding: 10px;
    top: 30%;
    right: 5%;
    text-align: center;
    border-radius: 15px;
}

#clearButton:hover {
    background-color: magenta;
}

#submit {
    color: white;
    background-color: purple;
    margin-left: 33%;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 15px;
}

#submit:hover {
    background-color: magenta;
}

textarea {
    margin: 20px;
    width: 90%;
}

label {
    margin-right: 10px;
}

input {
    margin-bottom: 20px;
    width: 50%;
}

#createDiv {
    margin-top: 20px;
}