*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
    height: 100vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: purple;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover {
    outline: none;
    background-color: magenta;
    color: white;
}

.start-btn {
    color: white;
    background-color: purple;
    padding: 10px 20px;
    outline: none;
}

.start-btn:hover {
    color: white;
    background-color: magenta;
    outline: none;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

a {
    text-decoration: none;
    color: magenta;
}